header{
	background: #e8ebf1;
	padding: 26px 0;
}
header .container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
header .logo{
	font-family: 'latoregular', sans-serif;
	font-size: 3.85em;
	color:#2aacc8;
	margin: 0 0 14px;
	span{
		color:#000;
		font-family: 'latoblack', sans-serif;
	}
}
